---

- name: config | Gather only the facts needed
  ansible.builtin.setup: { gather_subset: ["os_family", "network"] }

- name: config | Manage (update/add/remove) packages
  include_tasks: pkgs.yml

- name: config | Run cloud-specific config (if defined)
  include_tasks: "{{ item__include_tasks }}"
  loop: "{{ query('first_found', params) }}"
  loop_control: { loop_var: item__include_tasks }   #This mechanism (to include_tasks only when the file exists), also creates a loop iterator 'item' that it sends to the included tasks.  If they also have loops, we get "The loop variable 'item' is already in use" warning.
  vars: { params: { files: ["config_{{cluster_vars.cloud_type}}.yml"], skip: true } }

- name: config | Disable requiretty in sudoers to enable pipelining
  become: true
  lineinfile:
    dest: /etc/sudoers
    regexp: '(^Defaults requiretty)$'
    line: '#\1",'
    backrefs: true
  vars:
    ansible_ssh_pipelining: false

- name: config | Add hostname to hosts (gives hostname resolution without calling out to DNS.  Needed on Ubuntu.)
  become: true
  lineinfile:
    path: /etc/hosts
    regexp: '^{{ansible_facts.default_ipv4.address}}'
    line: "{{ansible_facts.default_ipv4.address}} {{ (inventory_hostname ~ '.' ~ cluster_vars.dns_domain) if cluster_vars.dns_domain is truthy else '' }} {{inventory_hostname}}"
#    regexp: '^127\.0\.1\.1'
#    line: '127.0.1.1 {{inventory_hostname}}'
    insertbefore: "BOF"

- name: config | Set hostname (e.g. AWS doesn't set it automatically)
  become: true
  hostname:
    name: "{{inventory_hostname.split('.')[0]}}"

- name: config | Create /var/log/journal
  become: true
  file:
    path: "/var/log/journal"
    state: directory
    mode: '0755'
  when: (static_journal is defined and static_journal|bool)

- name: config | Ensure we have an NTP client (timedatectl/chrony)
  include_tasks: ntp.yml

- name: config | Create partition table, format and attach volumes - AWS, GCP, Azure, libvirt/kvm/qemu
  include_tasks: disks_auto_cloud.yml
  when: cluster_vars.cloud_type in ["aws", "gcp", "azure", "libvirt"]

- name: config | Create partition table, format and attach volumes - generic (esxi)
  include_tasks: disks_auto_generic.yml
  when: cluster_vars.cloud_type not in ["aws", "gcp", "azure", "libvirt"]

- name: config | create DNS A records
  include_tasks: create_dns_a.yml
  when: (cluster_vars.dns_server is truthy) and (cluster_vars.dns_nameserver_zone is truthy)
